@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-size: auto;
}

.divBotones{
    color: red;
    font-size: medium;
    display: flex;
    justify-content: space-evenly;
}
.navbar{
    width: 100%;
}
.logoAmarillo{
    height: 50px;
    border-radius: 75px
}
#divActividades {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
#navbarNav a{
    font-family: 'Lexend Deca', sans-serif;
    color: red;
}
#carrito {
    font-family: 'Lexend Deca', sans-serif;
    color: red;
}
#compras {
    font-family: 'Lexend Deca', sans-serif;
}
.tituloPrincipal {
    font-size: 50px;
}

.h1Contacto,h1,h2,h3,h4,h5 {
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    text-align: center;
}

img {
    height: 200px;
}

.botonSaludo{
    display: flex;
    flex-direction: column;   
}

#enviarSaludo{
    border-radius: 15px;
    border-color: red;
    background-color:black;
    color: white;
    font-size: 35px;
    font-family: 'Press Start 2P', cursive;
}

.formularioNuevo{
    margin-left: 25%;
}